<!DOCTYPE html>
<html lang="en"><html>
<heading>
	

</heading>
<body>
	<style>
		body {background-color: LightSeaGreen;}
		h1 {color: azure; position: absolute;left: 550px; top: 300px;}
		h2 {color: azure; position: absolute;left: 550px; top: 340px;}
		.home {color: azure; position: absolute;left: 750px; top: 400px;}
	</style>
	<center>
		<h1> </h1>
        <h2> </h2>
    <div class = "home">
    <form action="/home" method="POST">
		<input type="text" name="qoute" id = qoute placeholder="Type qoute here:" >
		<input type="submit" value = "submit">
        <a href="/signout"><button>click here to sign out</button></a>
    </div>
    </form>
</center>
</body>
</html>