<!DOCTYPE html>
<html lang="en"><html>
<heading>
	

</heading>
<body>
	<style>
		body {background-color: LightSeaGreen;}
		h1 {color: azure; position: absolute;left: 550px; top: 300px;}
		h2 {color: azure; position: absolute;left: 550px; top: 340px;}
		.signin {color: azure; position: absolute;left: 750px; top: 400px;}
		
	</style>
	<center>
		<h1>Log in to your account</h1>
        <h2>fill up your info here to sign in</h2>
    <div class = "signin">
		<form action="/signin" method="POST">
		<input type="text" name="email" id = email placeholder="Type email here:" >
		<input type="text" name="password" id = password placeholder="Type password here:" >
		<input type="submit" value = "submit">
        <a href="/signup">don't have an account? click here to signup</a>
    </div>
    </form>
</center>
</body>
</html>