<html>
<head>
	<title>fortune telling</title>
	<h1>hello {{session['Name']}}</h1>
</head>
<body>
	<style>
		body {background-color: LightSeaGreen;}
		h1   {color: azure;position: absolute;left: 700px; top: 300px;}
		h3	 {color: azure;position: absolute;left: 700px; top: 350px;}
		p    {margin: 50px,color: azure;}
		.type_box{position: absolute;left: 750px; top: 400px;}

	</style>
	<center>
		<h3>Welcome to Fortune Telling!</h3>
	<div class = "type_box">

	<a href="/fortune">click here to tell your furtune</a>
</div>
</center>
</body>
</html>